{% extends "base.html" %}

{% block head_title %}About Me{% endblock %}

{% block content %}
<div class="row" style="margin-top: 5px">
    <div class="col-sm-3">
        <img src="/media/about.jpg" class="img-fluid rounded-circle" alt="Mukil Loganathan">
    </div>
    <div class="col-sm-9 d-flex flex-columns">
        <p style="font-size:24px;">Hi, I'm Mukil Loganathan and this is my personal-website and journal/blog SelfPlusPlus. I am currently a student at UC Berkeley, where I am pursuing a triple major in Computer Science, Applied Mathematics, and Data Science. As a student I have found myself drawn to the intersection of these subjects with the financial sector, where I ultimately hope to apply my talents. I currently work as a Backend Software Engineer at a small fintech startup in Redwood City named Wealthfront, where I am on the Banking and Brokerage team. In my free time, I enjoy weightlifting, backpacking, playing basketball, reading, and talking to people.
                <br></br>I am also incredibly passionate about self-improvement and love trying new things, two attributes that have led me down plenty of rabbit holes. As one of my friends used to say, “Satisfaction is the root of failure”. I’ve tried dozens of fad diets, morning routines, productivity “life-hacks” and more in an effort to better myself from the day before, or “SelfPlusPlus”, a nerdy play on the ever-popular increment operator. As sort of a spur of the moment thing, and as a way to improve my writing, I decided I wanted to document my ordeals. A few coffee-fueled work sessions later, and here is the result.
     <br></br>This blog is mostly meant to be a log of my thoughts, but hopefully other people find it interesting too! I’ll probably also document other random things like my travels, showerthoughts, or some weird topic that I’ve found interesting lately I’m by no means an expert in any of the subject matter I’m going to be talking about, so take everything I say with a grain of salt though I’ll try to provide references wherever possible. I love meeting new people, so if you ever have any questions or simply want to chat, feel free to reach out to me at mukil.loganathan@gmail.com.
        </p>
    </div>
</div>


{% endblock %}